{% extends 'base.html' %}

{% block content %}
<h1>О нашей библиотеке</h1>

        <p>Добро пожаловать в библиотеку, посвященную IT литературе! Мы стремимся предоставить широкий спектр книг по программированию, веб-разработке и другим технологическим темам.</p>

        <h2>Наша миссия</h2>
        <p>Мы создали эту библиотеку с целью сделать знания в области информационных технологий доступными для всех. Независимо от вашего уровня опыта, у нас есть книги, которые помогут вам расширить свои знания и умения.</p>

        <h2>Наши категории</h2>
        <p>Мы специализируемся на книгах по языкам программирования, веб-разработке, фреймворкам и смежным темам. У нас есть разделы, посвященные Python, веб-разработке, JavaScript и многим другим областям IT.</p>

        <h2>Как пользоваться библиотекой</h2>
        <p>Просто просматривайте наш каталог книг, выбирайте интересующие вас темы и наслаждайтесь чтением. Мы также регулярно обновляем наш ассортимент, чтобы держать вас в курсе последних тенденций в мире технологий.</p>

        <p>Спасибо, что выбрали нашу библиотеку!</p>
{% endblock %}
